.settings__login--wrapper {
    max-width: 460px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.settings__login--wrapper img {
    width: 100%;
    height: 100%;
}

.settings__login--text {
    font-size: 24px;
    font-weight: 700;
    color: #032b41;
    text-align: center;
    margin-bottom: 16px;
}

.settings__login--btn {
    max-width: 100px;
}

.for-you__title {
    font-size: 22px;
    font-weight: 700;
    color: #032b41;
    margin-bottom: 16px;
}

.for-you__sub--title {
    font-weight: 300;
    margin-bottom: 16px;
    color: #394547;
}

.finished__books--block-wrapper {
    margin: 0 auto 56px;
    padding: 32px;
    display: flex;
    background-color: #f1f6f4;
    text-align: center;
    flex-direction: column;
    max-width: fit-content;
    align-items: center;
    border-radius: 12px;
    gap: 8px;
}

.finished__books--title {
    color: #042330;
    font-weight: 600;
    font-size: 18px;
}

.finished__books--sub-title {
    color: #394547;
}

.for-you__recommended--books {
    gap: 16px;
    margin-bottom: 32px;
    display: flex;
    overflow-x: auto;
}

.for-you__recommended--books-link {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    width: 100%;
    border-radius: 4px;
    position: relative;
    padding: 32px 12px 12px;
}

.for-you__recommended--books-link:hover {
    background-color: #f1f6f4;
}

.book__image--wrapper {
    width: 172px;
    height: 172px;
}

.book__image--wrapper img {
    width: 100%;
    height: 100%;
}

.recommended__book--title {
    font-weight: 700;
    font-weight: 16px;
    color: #032b41;
    margin-bottom: 8px;
}

.recommended__book--author {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 8px;
    color: #6b757b;
}

.recommended__book--sub-title {
    color: #032b41;
    font-weight: 400;
    margin-bottom: 8px;
    font-size: 14px;
}

.recommended__book--details-wrapper {
    display: flex;
    gap: 8px;
}

.recommended__book--details {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    font-weight: 300;
    color: #6b757b;
}

.recommended__book--details-icon {
    display: flex;
    width: 16px;
    height: 16px;
}

.recommended__book--details-icon svg {
    width: 100%;
    height: 100%;
}

.skeleton {
  background: #e4e4e4;
  border-radius: 4px;
}