.sidebar {
  background-color: #f7faf9;
  width: 200px;
  min-width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1000;
  transition: all .3s;
}

.sidebar__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  padding-top: 16px;
  margin: 0 auto;
  width: 100%;
}

.sidebar__logo img {
  width: 100%;
  height: 40px;
  max-width: 160px;
}

.sidebar__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 60px);
  padding-bottom: 20px;
  overflow-y: auto;
}

.sidebar__top {
  flex: 1 1;
  margin-top: 40px;
}

.sidebar__link--wrapper {
  display: flex;
  align-items: center;
  height: 56px;
  color: #032b41;
  margin-bottom: 8px;
  cursor: pointer;
}

.sidebar__link--line.active--tab {
  background-color: #2bd97c;
}

.sidebar__link--line {
  width: 5px;
  height: 100%;
  background-color: transparent;
  margin-right: 16px;
}

.sidebar__icon--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.sidebar__icon--wrapper svg {
  width: 24px;
  height: 24px;
}

.sidebar__link--not-allowed {
  cursor: not-allowed;
}

.sidebar__link--wrapper:not(.sidebar__link--not-allowed, .sidebar__font--size-wrapper):hover {
  background-color: #f0f0f0;
}

.sidebar__overlay {
  display: none;
}

.sidebar__font--size-wrapper {
  gap: 8px;
  margin-left: 24px;
  display: flex;
}

.font--size-icon--active {
  border-bottom: 3px solid #2bd97c;
}

.sidebar__font--size-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 32px;
  height: 32px;
}

.sidebar__font--size-icon-small {
  width: 20px;
  height: 20px;
}

.sidebar__font--size-icon-medium {
  width: 24px;
  height: 24px;
}

.sidebar__font--size-icon-large {
  width: 28px;
  height: 28px;
}

.sidebar__font--size-icon-xlarge {
  width: 32px;
  height: 32px;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .sidebar--closed {
    display: none;
  }

  .sidebar--opened {
    display: flex;
    position: fixed;
    flex-direction: column;
    top: 0;
    left: 0;
    height: 100%;
    width: 80%;
    z-index: 100;
    background-color: #fff;
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.1);
    transform: translateX(0);
  }

  .sidebar__logo {
    margin: 0;
    padding-left: 24px;
    width: 100%;
  }

  .sidebar__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3a4649;
    transition: opacity .4s ease 0s;
    z-index: 10;
    opacity: .65;
    pointer-events: auto;
    display: block;
  }

  .sidebar__overlay-hidden {
    display: none;
  }
}