.inner__wrapper {
    display: flex;
    gap: 16px;
}

.inner__book {
    width: 100%;
}

.inner-book__author, .inner-book__title {
    margin-bottom: 16px;
    color: #032b41;
    font-weight: 600;
}

.inner-book__title {
    font-size: 32px;
}

.inner-book__sub--title {
    font-size: 20px;
    color: #032b41;
    margin-bottom: 16px;
    font-weight: 300;
}

.inner-book__wrapper {
    border-top: 1px solid #e1e7ea;
    border-bottom: 1px solid #e1e7ea;
    padding: 16px 0;
    margin-bottom: 24px;
}

.inner-book__description--wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    row-gap: 12px;
}

.inner-book__description {
    display: flex;
    align-items: center;
    width: 50%;
    color: #032b41;
    font-weight: 500;
    font-size: 14px;
    gap: 4px;
}

.book__image--wrapper {
    overflow: hidden;
}

.inner-book__icon {
    height: 24px;
    width: 24px;
    margin-right: 4px;
    display: flex;
}

.inner-book__icon svg {
    width: 100%;
    height: 100%;
}

.inner-book__read--btn-wrapper {
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
}

.inner-book__read--btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 144px;
    height: 48px;
    background-color: #032b41;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    gap: 8px;
    transition: opacity .2s;
}

.inner-book__read--btn:hover {
    background-color: #355362;
    transition: background-color .2s;
}

.inner-book__read--icon {
    display: flex;
}

.inner-book__read--icon svg {
    height: 24px;
    width: 24px;
}

.inner-book__secondary--title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 16px;
    color: #032b41;
}

.inner-book__tags--wrapper {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
    flex-wrap: wrap;
}

.inner-book__tag {
    background-color: #f1f6f4;
    padding: 0 16px;
    height: 48px;
    display: flex;
    align-items: center;
    cursor: not-allowed;
    color: #032b41;
    font-weight: 500;
    border-radius: 4px;
    transition: background-color .2s;
}

.inner-book__book--description {
    line-height: 1.5;
    margin-bottom: 16px;
}

.inner-book__author--description {
    line-height: 1.5;
}

.book__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.skeleton {
  background: #e4e4e4;
  border-radius: 4px;
}

@media (max-width: 992px) {
    .inner__wrapper {
        flex-direction: column;
        gap: 32px;
    }

    .inner-book--img-wrapper {
        display: flex;
        justify-content: center;
    }

    .inner__book {
        order: 1;
    }
}

@media (max-width: 768px) {
    .inner-book__title {
        font-size: 24px;
    }

    .inner-book__author, 
    .inner-book__author--description, 
    .inner-book__book--description, 
    .inner-book__tag {
        font-size: 14px;
    }
}