.account__wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.account__page {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.account__summary {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.account__username {
    color: #6b757b;
    margin-bottom: 4px;
}

.account__email {
    color: #032b41;
    font-size: 20px;
}

.account__btn {
    background-color: #2467ec;
    padding: 16px 24px;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.account__btn:hover {
    background-color: #1d51c2;
}

.account__signout--btn {
    background: none;
    border: none;
    color: #6b757b;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
}

.account__signout--btn:hover {
    text-decoration: underline;
    color: #032b41;
}